/* 문서의 루트 요소 선택
   HTML에서는 <html> */
:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #f16e03;
  --color-white: white;
  --color-scrollbar: #aaa7a7;
}

#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;
  display: flex;
  /* 자식이 부모요소를 침범하는 부분을 다 hidden */
  overflow: hidden;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  /* 브라우저 기본 컬러 커스텀 */
  accent-color: var(--color-accent);
}

* {
  /* padding margin이 합쳐진 사이즈 */
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}